<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SoilMoisture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F836C0AB1E7721E700647893</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F836C0C11E7721E700647893</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F836C0CC1E7721E700647893</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
